.section-1-c{
    width: 100%;
    /* margin-top: 3rem; */
    background-color: black;
    padding-left: 0;
}

.sec-1c-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 3.2rem 8rem 3.2rem 8rem;
}

.sec-1c-fa{
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}

.sec-1c-btn-cont{
    margin-top: 1rem;
}

.sec-1c-btn{
    background-color: var(--orange);
    color: white;
    border: none;
    padding: .8rem 2.5rem .8rem 2.5rem;
    
}

.sec-1c-b{
    margin-right: 4rem;
    margin-top: 1.5rem;
}

.sec-1c-store{
    color: white;
    border-bottom: 1px solid white;
    width: 15vw;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 600px){

    .section-1{
        display: none;
    }

    .section-1-c{
        display: none;
    }
    .section-2{
        width: 100vw;
    }

    .sec-1c-wrapper{
        display: flex;
        gap: 6rem;
    }
}

@media only screen and (min-width: 600px){
    .section-1-c-footer{
        display: none;
    }

    .sec-1c-wrapper{
        display: flex;
        gap: 4rem;
    }
}


@media only screen and (min-width: 768px){
    .section-1-c-footer{
        display: none;
    }

    .sec-1c-wrapper{
        display: flex;
        gap: 4rem;
    }
}

@media only screen and (min-width: 992px){
    .section-1-c-footer{
        display: none;
    }
}

@media only screen and (min-width: 1200px) {

    .main-sec-cont{
        display: flex;
        
    }

    .section-1-c-footer{
        display: none;
    }

    

   

}

